

            body{
                background-image: url(elmo.jpg),
                                  url(elmo.jpg);
                background-size: 100px 80px;
                background-repeat: repeat-y;
                background-position: left top, right top;                              
                background-color: #ff99ff; 
            }                     
            h1 {
                color:blueviolet; 
                font-family:Lucida Console;
                font-weight:bold;
                text-align:center;
                font-size: 40px
            }
            p {
                color:green; 
                font-family:Arial;
                line-height: 200%; 
                font-style:italic;
                text-align:center;
                background-color: yellow; 
                margin: 10px auto;
                width: 450px;
                
            }    
            img {
                display: block;
                margin: 0 auto;
            }
            
            form{
                text-align: center
            }